<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask GPIO - RPi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        LED's
      </h1>
      <p class="subtitle">
        Control de LED con <strong>Flask</strong>!
      </p>
        {% for pin in pins %}
        <h2>{{ pins[pin].name}}
        {% if pins[pin].state == true %}
        está <strong>encendido</strong></h2><div class="columns"><div class="column is-2">
        <a href="/{{pin}}/off" class="button is-danger" role="button">Apagar</a></div></div>
        {% else %}
        está <strong>apagado</strong></h2><div class="columns"><div class="column is-2">
        <a href="/{{pin}}/on" class="button is-success" role="button">Encender</a></div></div>
        {% endif %}
        {% endfor %}
    </div>
  </section>
  </body>
</html>